.null {
    margin-bottom: 10px;
    text-align: center;
    padding-top: 30px;
    background-color: gainsboro;
    border-radius: 9px;
}

.one {
    margin: 5px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
}

.two {
    margin: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
}